body {
  height: 100vh;
  background-color: rgb(244, 244, 244);
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

header {
  width: 100%;
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: auto;
}

.profile {
  position: relative;
  left: 20px;
}

.nav-container {
  width: 40%;
  display: flex;
  position: absolute;
  right: 80px;
  justify-content: flex-end;
}

.nav-container .nav ul {
  display: flex;
  list-style: none;
  margin: 0; /* Remove default list margin */
  padding: 20px 0;
  flex-wrap: wrap;
}

.nav-container .nav .nav-icon {
  display: none;
  font-size: 1.5rem;
}

/* Responsive nav */

@media screen and (max-width: 600px) {
  .nav-container .nav .nav-icon {
    display: block;
  }
  .nav-container .nav {
    flex-direction: column; /* Stack items vertically */
    padding: 0;
  }

  .nav-container .nav ul {
    display: none; /* hide the links */
  }
  .pro-img {
    max-width: 100%;
    height: auto;
  }
  .goal {
    font-size: 32px;
  }
}

@media screen and (max-width: 600px) {
  .nav-container .responsive .nav-icon {
    display: block;
    text-align: right;
  }
  .nav-container .responsive ul {
    display: block;

    position: relative;
    left: 30%;
    bottom: 10%;
  }
}

.nav-container .nav a {
  text-decoration: none;
  color: rgb(10, 10, 10);
  padding: 10px 20px;
  transition: 0.5s;
  cursor: pointer;
}
.nav-container .nav a:hover {
  color: rgb(153, 152, 152);
}

.yellow-bg {
  background-color: yellow;
}

.home-container {
  width: 100%;
  position: relative;
  top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 100px;
}

.goal {
  font-size: 58px;
  margin: 0 auto;
  line-height: 1.2;
}

.pro-img {
  width: 350px;
  border-radius: 30px;
  margin: 0 80px 50px 0;
}

.this-is-me-container {
  background-color: rgb(251, 250, 251);
  height: 700px;
}

.this-is-me {
  width: 40%;
  height: 120px;
  position: relative;
  top: 40px;
}
.this-is-me-content {
  font-size: 3rem;
  position: relative;
  bottom: 30px;
  margin-left: 40px;
}
.intro-content {
  width: 30%;
  position: relative;
  top: 80px;
  margin: 0 auto;
  line-height: 2;
}
