body {
  height: 100vh;
  background-color: rgb(244, 244, 244);
  margin: 0;
  padding: 0;
  line-height: 1.5;
  display: grid;
}

header {
  position: relative;

  display: flex;

  align-items: center;
  padding: 4vh 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  column-gap: 18vw;
}

.profile {
  position: relative;
  left: 5vw;
  width: 40vw;
}

.nav-container ul {
  width: 40vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0; /* Remove default list margin */
  padding: 2vw 0 2vw 3vw;
}

.nav-container a {
  text-decoration: none;
  color: rgb(10, 10, 10);
  padding: 1vw 1.5vw;
  transition: 0.5s;
  cursor: pointer;
}
.nav-container a:hover {
  color: rgb(153, 152, 152);
  font-size: 1.1rem;
}

.yellow-bg {
  background-color: #f0ff00;
}

.home-container {
  width: 100%;
  position: relative;

  display: grid;

  grid-template-columns: 65% 35%;
  align-items: center;
  padding: 10vh 0;
}

.goal {
  font-size: 4.5vw;
  margin: 0 auto;
  line-height: 1.2;
}

.pro-img {
  width: 26vw;
  border-radius: 30px;
  margin: 0 80px 50px 0;
  margin: 0 auto;
}

.light-color-bg {
  background-color: rgb(252, 251, 251);
}

.yellow-box {
  width: 40%;
  height: 10vw;
  position: relative;
  margin: 7vw 0 4vw;
  display: block;
}
.bold-text {
  font-size: 3.2vw;
  position: relative;
  bottom: 2.5vw;
  margin-left: 4vw;
}
.intro-content {
  width: 30%;
  padding: 2vw;
  margin: 2vw auto 4.5vw;
  line-height: 2;
}

.skills {
  width: 30vw;
  margin: 0 auto 4vw;
}
.flex-box {
  display: flex;
  justify-content: space-around;
}

.flex-box p {
  padding: 0 1vw;
  font-size: 1.8vw;
  font-weight: bold;
}

.black-bg {
  background-color: black;
  color: white;
}
.grey-bg {
  background-color: rgb(153, 160, 155);
  color: whitesmoke;
}

.white-bg {
  background-color: white;
}

footer {
  background-color: rgba(16, 17, 18, 0.95);
  color: #fff;
}
.footer-content {
  width: fit-content;
  margin: 0 auto;
  padding: 2vw;
}
.footer-content p {
  padding: 0 1vw;
  font-size: clamp(12px, 1em, 18px);
}

footer a {
  color: #fff;
}
footer a:hover {
  color: #f0ff00;
  transition: 0.4;
}
.back-to-top-btn {
  padding: 5px;
  width: -webkit-fill-available;
  border-radius: 5px;
  cursor: pointer;
}

/* blog page */

.back-btn {
  padding: 10px;
  background-color: antiquewhite;
  margin: 10px;
  border-radius: 5px;
}

.blog-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
}
@media screen and (width <= 600px) {
  .blog-main {
    grid-template-columns: 1fr 1fr;
  }
}
.blog-imgs {
  width: 30vw;
  height: 20vw;

  margin: 2vw auto 5vw;
}
.blog-imgs p {
  position: relative;
  top: 50%;
  border: solid white;
  width: fit-content;
  margin: 0 auto;
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 2vw;
}
.blog-imgs a {
  text-decoration: none;
}

.vallue-identity {
  background: url(../images/value.webp) no-repeat center center/cover;
}

.learning-plan {
  background: url(../images/plan.webp) no-repeat center center/cover;
}
.eq {
  background: url(../images/eq.jpg) no-repeat center center/cover;
}

.dom {
  background: url(../images/dom.jpg) no-repeat center center/cover;
}

/* eq page */

.eq-section {
  padding: 3vw;
}
/* js fondamental page */

.dom-container {
  padding: 3vw;

  margin: 5px auto;
}
.relations,
.functions,
.example-of-dom,
.contrl-flow {
  border: solid black 2px;
  padding: 3vw;
}
